body,table,tr,td,div,ul,li,img,a,h1,th,input,form{
   margin:0;
   padding:0;
}




body{
   margin:0;
   padding:0;
   width:100%;
   height:100%;

}
#vmenu{
margin:0;
padding:0;
width:980px;
height:38px;
background-color: #dfd119 ;

}
#vmenu li {

float: left;
padding: 5px 15px;
padding-top:5px;
padding-left:15px;


}
#sheet{
  width: 580px;
  padding: 15px;


}
#sheet1{
   width: 580px;
   height: 10px;
background-color:red;
}
#sheet2{
   width: 580px;
   height: auto;
background-color: rgb(245, 141, 6);
}
#sheet3{
   width: 580px;
   height: 10px;
background-color: red;
}
.h1_opisian{
width:530px;
text-align:center;
text-decoration:none;
font-size:25px;
font-family:italic;
font-weight:bold;
line-height:40px;
color: rgb(0, 233, 241);
}
.h2_opisian{
   width:530px;
   text-align:center;
   text-decoration:none;
   font-size:25px;
   font-family:italic;
   font-weight:bold;
   line-height:40px;
   color: rgb(49, 211, 0);
}
.div_opisian{
   text-decoration:none;
   font-size:20x;
   font-family:arial,serif;
   font-weight:bold;
   line-height:22px;
   color: red;
   width:530px;

   white-space:normal;
   text-align:justify;
}
.left_b{
padding-top: 10px;
padding-bottom: 20px;
width:200px;
}
.left_b h1{
   width:200px;
   text-align:center;
   text-decoration:none;
   font-size:25px;
   font-family:arial;
   font-weight:bold;
   line-height:40px;
   color:#a8531b;
}
.left_b img{
border:#dfd119 6px;

}
.left_b h1:hover{
color:blue;
}
.right_b{
   padding-top: 10px;
   padding-bottom: 20px;
   width:200px;
   }
   .right_b h1{
      width:200px;
      text-align:center;
      text-decoration:none;
      font-size:25px;
      font-family:arial;
      font-weight:bold;
      line-height:40px;
      color:#a8531b;
      white-space: nowrap;
   }



#zakaz td,#zakaz th,#zakaz input{
   white-space:nowrap;
   text-decoration:none;
   font-size:15px;
   font-family:Verdana,arial,serif;
   font-style:normal;
   line-height:15px;
   color:darkblue
}
#zakaz th{
font-weight:bold;
color:darkgreen

}
#zakaz tr{
height:35px;

}
#zakaz td,#zakaz th{
   width:260px;
   vertical-align:middle;
   text-align:center;

}
#zakaz input{
font-weight:bold;
color:darkkhaki;
width:200px;
height:20px;
background-color: darkred;
padding:3px;

}